@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --hero-foreground: #f9faf8;
  --accent: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

a {
  color: var(--hero-foreground);
  font-size: 25px;
  text-decoration: none;
  transition: all 0.15s;
}

a:hover {
  color: #3882f6;
}

.nav-bar {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.logo {
  font-size: 25px;
  margin-left: 140px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  min-height: 400px;
  gap: 600px;
}

.hero .container {
  margin-left: 80px;
}

img {
  padding: 50px;
  max-width: 800px;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #e5e7eb;
}

.get-started {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: solid 1px var(--hero-foreground);
  cursor: pointer;
  transition: all 0.15s;
}

.get-started:hover {
  color: var(--accent);
  background-color: var(--hero-foreground);
}

.information {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 40px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boxes img {
  padding: 0;
  max-width: 100%;
  height: auto;
}

.box {
  height: 200px;
  width: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}
.wrapper p {
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px;
  display: flex;
  justify-content: center;
}

.quote .q {
  font-size: 40px;
  color: #1f2937;
  font-style: italic;
}

.quote .quote-text {
  font-size: 40px;
  color: #1f2937;
  font-style: italic;
}

.quote .quote-author {
  font-size: 40px;
  color: #1f2937;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.sign-up-prompt .container {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #3882f6;
  border-radius: 6px;
  padding: 50px;
  display: flex;
  align-items: center;
}

.sign-up-prompt {
  display: flex;
  justify-content: center;
}

.sign-up-prompt h1 {
  font-size: 20;
  font-weight: bold;
  color: #eee;
}

.sign-up-prompt p {
  color: #eee;
}

.sign-up-prompt button {
  margin-left: 70px;
  max-width: 150px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #3882f6;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sign-up:hover,
.sign-up-prompt button:hover {
  background-color: #275fb9;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: #1f2937;
  color: #eee;
  padding: 20px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: flex-end;
}
