* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

a {
  color: #e5e7eb;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3882f6;
}

.nav-bar {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.logo {
  font-size: 25px;
  margin-left: 140px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  min-height: 400px;
  gap: 300px;
  flex: 1;
}

img {
  padding: 50px;
  max-width: 800px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

p {
  margin-top: 10px;
  font-size: 18px;
  color: #e5e7eb;
  font-family: serif;
}

.sign-up {
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  margin-top: 10px;
  color: white;
  background-color: #3882f6;
  padding: 8px 16px;
  border-radius: 7px;
}

.sign-up:hover {
  background-color: #275fb9;
}

.information {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 40px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boxes img {
  max-width: 100%;
  height: auto;
}

.box {
  height: 200px;
  width: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}
.wrapper p {
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  padding: 140px;
}

.quote .q {
  font-size: 40px;
  color: #1f2937;
  font-style: italic;
  padding: 100px;
  font-family: "VT323";
}

.quote .quote-text {
  font-size: 40px;
  color: #1f2937;
  font-style: italic;
  font-family: "VT323";
}

.quote .quote-author {
  font-size: 40px;
  color: #1f2937;
  font-family: "VT323";
  display: flex;
  justify-content: flex-end;
}

.sign-up-prompt .container {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #3882f6;
  border-radius: 6px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-prompt h1 {
  font-size: 20;
  font-weight: bold;
  color: #eee;
}

.sign-up-prompt button {
  margin-right: 70px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #3882f6;
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 5px;
}

.sign-up-prompt .prompt {
  font-family: serif;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: #1f2937;
  color: #eee;
  padding: 20px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: flex-end;
}

.sign-up:hover,
.sign-up-prompt button:hover {
  background-color: #275fb9;
}
